div{
    background-color: grey;
}
h1{
    color:red;
    font-size: 50px;
}
#trabajador1{
    color: blue;
    text-align: center;
}
#trabajador2{
    color: green;
    text-align: center;
}
#caja1{
    border: 2px solid;
}
#caja2{
    border: 2px solid;
}